body {
    font: 16px/1 Helvetica, sans-serif;
}


#photos {
    float: left;
    width: 100%;
}

.photo {
    float: left;
    margin: 0 2px 2px 0;
    overflow: hidden;
    height: 160px;
}

.photo,
.photo img {
    min-width: 160px;
    max-width: 240px;
}

.photo img {
	max-height: 160px;
	float: left;
}

.bar {
	float: left;
	clear: both;
	width: 100%;
	margin-top: -32px;
	background-color: #FFF;
	opacity: 0;
	transition: opacity .20s ease-in-out;
}

.photo:hover .bar {
	opacity: 0.7;	
}

.favourite {
	float: right;
}